{{> head }}
  <body>
    <h1 id="TituloPrincipal"><i class="fas fa-star"></i>Agenda Virtual Samus Bacquet<i class="fas fa-star"></i></h1>
    <div class="py-5" id="Paginalogin">
      <h2>Iniciar Sesión</h2>
      <hr class="w-100"/>
      <form action="/SignIn">
        <div class="form-group">
          <div class="form-group">
            <label>Email</label>
            <input class="form-control w-50 m-auto mb-3" type="text" name="email"/>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control w-50 m-auto mb-3" type="text" name="password"/>
          </div>
        </div>
        <button class="btn btn-success mb-3">Ingresar</button>
      </form>
    </div>
  </body>